/* Para comenzar a usar rems (los rems son formas adaptativas de pixeles para el uso de responsive */

html {
    /* Se convierte cada REMS en un promedio de 10px  */
    /* Reset para REMS - 62.5% = 10px de 16px */
    font-size: 62.5%;
}


/* Para aplicar fuente global (importado desde Google Fonts*/

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}


/*Estilos globales*/


/* Utilidades */

img {
    max-width: 100%;
}

.container-header {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3.8rem;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 3.4rem;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

p,
a,
blockquote {
    font-size: 1.6rem;
}

.secciones {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Fin estilos globales */

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-header h1 {
    color: white;
    font-size: 3rem;
    padding-bottom: 1rem;
    max-width: 55rem;
    line-height: 2;
}

.container {
    /* Para poner los elementos en paralelo (sirve para temas de logo con navegación) */
    display: flex;
    /*justify-content: center;*/
    /*justify-content: space-evenly;*/
    /*justify-content: space-around;*/
    /* Para que se separen y se muestren correctamente como cualquier landing page horizontalmente*/
    justify-content: space-between;
    padding-top: 2%;
    /* Para alinear verticalmente perfectamente tanto el logo como los enlaces */
    align-items: flex-start;
}


/*Section*/

.section {
    height: 100hv;
}


/*Header del index*/

.site-header.index {
    /* Para tener una imagen de fondo por defecto */
    background-image: url(../img/header.jpg);
    /* Para usar el 100% de la pantalla completa */
    height: 100vh;
    /* La altura mínima de la pantalla */
    min-height: 50rem;
    /* Para posicionar la imagen en el centro tanto horizontal como verticalmente */
    background-position: center center;
    /* Para ocupar toda la imagen */
    background-size: cover;
}


/*Navigation by default*/


/* Es importante poner el "a" porque se aplicará a todos los elementos de links */

.navigation-default a {
    /* Para variar los colores del texto */
    color: rgba(255, 255, 255, 0.836);
    /*para quitar el subrayado*/
    text-decoration: none;
    /* Margen a la derecha en pixeles */
    margin-right: 1.5rem;
    font-size: 1.8rem;
}


/*  a:last-of-type pseudoselectores (sirve para seleccionar un elemento único de una lista
    el pseudoselector más importante es el hover (sirve para pintar un texto cuando pongo el cursor sobre él. */

.navigation-default a:hover {
    color: orange;
}

.navigation-default a:last-of-type {
    margin-right: 0px;
}


/* Iconos Nosotros */

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.single-icon {
    text-align: center;
    /* flex-basis: 33.3%; */
    margin-right: 1rem;
    /* Para hacer cálculos entre las columnas */
    /* flex-basis: calc(200px - 50px); */
    /* flex-basis: calc(33.3% - 1rem); */
}

.single-icon h3 {
    text-transform: uppercase;
}

.single-icon:last-of-type {
    margin-right: 0rem;
}


/* Para la seccion de anuncios */

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.anuncio {
    /*margin-right: 1.5rem;
    /*border-style: solid;
    border-color: grey;
    border-width: .1rem;*/
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem); */
    /* Se puede reemplazar como */
    flex: 0 0 calc(33.3% - 1rem);
    border: .1rem solid grey;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.anuncio:last-of-type {
    margin-right: 0rem;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0rem;
}

.precio {
    color: green;
    font-weight: 700;
}


/* Utilidades Inicio */

.d-block {
    display: block!important;
}


/* Utilidades Fin */


/* Botones */


/* Los enlaces poseen un display-inline (no se le puede aplicar un ancho)
    para solucionarlo, hay que usar display:block */

.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    margin-top: 1rem;
    padding: .8rem 3rem;
    display: inline-block;
}

.boton-amarillo {
    background-color: orange;
    text-align: center;
}

.boton-verde {
    background-color: green;
}

.ver-todo {
    display: flex;
    justify-content: flex-end;
}

.seccion-contacto {
    height: 40rem;
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: honeydew;
}

.seccion-contacto h2 {
    display: flex;
    font-weight: 500;
    color: honeydew;
    align-items: flex-start;
    text-transform: none;
}

.contenido-contacto {
    flex: 1;
}

.contenido-contacto p {
    font-size: 1.8rem;
}

.iconos-caracteristicas {
    list-style: none;
    display: flex;
    justify-content: center;
}

.iconos-caracteristicas li {
    /* flex: 1; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    margin-right: 4rem;
}

.iconos-caracteristicas img {
    margin-right: 1rem;
}

.seccion-blog-testimoniales {
    display: flex;
    justify-content: space-between;
}

.seccion-blog-testimoniales .seccion-blog {
    flex-basis: 60%;
}

.seccion-blog-testimoniales .seccion-testimoniales {
    flex-basis: calc(40% - 2rem);
    /* flex-basis: 40%; */
}

.entrada-blog {
    display: flex;
}

.entrada-blog .imagen-entrada {
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    flex-basis: 60%;
    margin-left: 3rem;
}

.texto-entrada h3 {
    font-size: 2rem;
    margin: 0rem;
    line-height: 1.4rem;
}

.texto-entrada a {
    color: black;
    text-decoration: none;
}

.texto-entrada h3::after {
    content: '';
    margin-top: .5rem;
    display: block;
    width: 16rem;
    height: .4rem;
    background-color: green;
}

.texto-entrada span {
    color: green;
    font-weight: 600;
}


/* Testimoniales */

.testimonial {
    background-color: green;
    /* el padding es espacio hacia adentro */
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
    color: honeydew;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-weight: 300;
}

.testimonial blockquote {
    font-size: 2.3rem;
    font-style: oblique;
    position: relative;
    /* El elemento padre donde va la comilla
    (Este, en este caso), debe ir en position: relative; */
}

.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    display: block;
    position: absolute;
    /* Como este es el elemento donde agregamos
   la comilla, debemos poner absolute para 
   que funcione */
    left: -5rem;
}

.testimonial p {
    text-align: right;
}


/* Footer */

.seccion-footer {
    background-color: #333333;
    margin-top: 2rem;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.navigation-footer {
    margin: 0rem;
}

.copyright-footer {
    color: whitesmoke;
    margin: 0rem;
    font-size: 1.8rem;
}

.site-header.nosotros {
    margin: 0rem;
    background-color: #333333;
    justify-content: space-between;
}

.container.nosotros {
    margin: 0rem;
    padding: 2rem;
    align-items: center;
}

.contenedor-nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2rem;
}

.contenedor-descripcion-nosotros blockquote {
    font-weight: 900;
    margin: 0rem;
    padding: 1rem 0 0;
    font-size: 2rem;
}


/* Pagina Anuncio Individual */

.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resumen-propiedad.precio {
    font-weight: 800px;
}

.contenido-centrado {
    max-width: 80rem;
}


/* Contacto */

legend {
    font-size: 2rem;
}


/* input[type="text"]{
    padding: .5rem;
    display: flex;
    width: 98%;
    margin-bottom: 1.4rem;
    background-color: #e1e1e1;
    border: none;
    border-radius: .5rem;
}*/

label {
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
}

input:not([type="submit"]),
option,
textarea,
select {
    padding: .5rem;
    display: block;
    width: 98%;
    margin-bottom: 1.4rem;
    background-color: #e1e1e1;
    border: none;
    border-radius: .5rem;
    font-size: 1.3rem;
}

input[type="radio"] {
    width: auto;
    margin-bottom: 0rem;
}

.forma-contacto {
    margin-bottom: 0rem;
    display: flex;
    justify-content: space-between;
    max-width: 30rem;
    align-items: center;
}